html, body {
  padding: 0;
  margin: 0;
  background: transparent;
}
.page-centerer {
  /* overflow: hidden; */
}
.game-container {
  display: grid;
  grid-template-rows: min(13.333vw, 60px) 1fr;
}
.flags-left {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  background: #e89c0e;
  display: flex;
  column-gap: 7em;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flag {

}

.mine {
  /*background: orange !important;*/
}

.canvas-container {
  position: relative;
}
.flags-left__img {
  height: 93.33%;
}