:root {
    /* CSS HEX */
    --onyx: rgb(166, 167, 167);
    --dark-onyx: rgb(148, 156, 156);
    --dark-grey_black: rgb(37, 41, 41);
    --dark-grey_black-hover: rgb(48, 53, 53);
    --dim-gray: #616b6bff;
    --bud-green: #82b74bff;
    --bud-green__hover: rgb(138, 194, 78);
    --dark-moss-green: #405d27ff;
    --army-green: #32481eff;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--bud-green);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bud-green__hover);
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--onyx);
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    overflow: hidden;
}

.header-container {
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
    position: fixed;
}
.header {
    width: 100%;
    height: 70px;
    background-color: var(--dark-grey_black);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.projects-link__container {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.no-style {
    color: inherit;
    font-style: none;
    text-decoration: none;
}
.home-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.projects-link__container:hover {
    background-color: var(--dark-grey_black-hover);
}

.progress-container {
    width: 100%;
    height: 3px;
    background-color: var(--army-green);
}
.progress-bar {
    height: 3px;
    background: var(--bud-green);
    width: 0%;
}

.icon-bar {
    position: fixed;
    top: 98px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 3px;
}
.social-btn {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 50px;
}

.sidebar-container {
    background-color: var(--dark-grey_black);
    width: 160px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.project-header {
    color: white;
    font-weight: normal;
    padding-right: 6px;
}
.project-btns-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.project-btn {
    text-decoration: none;
    color: white;
    background-color: var(--bud-green);
    width: 80px;
    padding: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: padding-left 0.3s;
    margin-bottom: 5px;
}
.project-btn:hover {
    padding-left: 25px;
    cursor: pointer;
}
.project-btn__displaying {
    padding-left: 25px;
}

.main-container {
    width: 100%;
    padding-top: 73px;
    height: calc(100% - 73px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main-container__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--dark-onyx);
    max-height: 539.48px;
}
.spacer-container {
    height: 325px;
    width: 100%;
    background-color: var(--onyx);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lang-img {
    width: 100px;
}
.main-container__body__main {
    overflow-y: auto;
    width: calc(100% - 160px);
    margin-left: 160px;
    max-height: 539.48px;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.content-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 19px 0px;
    width: 400px;
    height: 500px;
    background-color: var(--army-green);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content-container-skill {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 19px 0px;
    width: 600px;
    height: 500px;
    background-color: var(--army-green);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content-container__header {
    margin: 10px 0px;
    font-weight: normal;
}
.content-container__about-body {
    padding: 14px;
    font-size: 18px;
    line-height: 26px;
}
.content-container__subskill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-container__subskill-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container__subskill-container__content {
    margin: 0px 15px;
    width: calc(100% - 30px);
}
.skill-header {
    padding: 0;
    margin: 0;
}
.skill-container {
    margin: 6px 0px;
    padding: 0;
    width: calc(100% - 30px);
    height: 20px;
    background-color: var(--dark-grey_black);
    position: relative;
    display: inline-block;
}
.skill-bar {
    height: inherit;
    text-align: right;
}

.js {width: 98%; background-color: var(--bud-green);/*rgb(255, 255, 0);*/}
.java {width: 88%; background-color: var(--bud-green);/*rgb(255, 145, 0);*/}
.py {width: 30%; background-color: var(--bud-green);/*rgb(255, 255, 0);*/}
.html {width: 100%; background-color: var(--bud-green);/*rgb(255, 38, 0);*/}
.css {width: 94%; background-color: var(--bud-green);/*rgb(0, 162, 255);*/}
.php {width: 35%; background-color: var(--bud-green);/*rgb(153, 0, 255);*/}
.cpp {width: 25%; background-color: var(--bud-green);/*rgb(0, 255, 34);*/}

.sb {width: 40%; background-color: var(--bud-green);/*rgb(9, 167, 9);*/}
.jfx {width: 68%; background-color: var(--bud-green);/*rgb(255, 145, 0);*/}
.react {width: 10%; background-color: var(--bud-green);/*rgb(255, 255, 0);*/}
.three {width: 87%; background-color: var(--bud-green);/*rgb(255, 255, 0);*/}
.jda {width: 92%; background-color: var(--bud-green);/*rgb(255, 145, 0);*/}
.da {width: 52%; background-color: var(--bud-green);/*rgb(107, 55, 167);*/}

.skill-container .skill-tooltip {
    visibility: hidden;
    width: 100px;
    background-color: var(--bud-green);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 83%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.skill-container .skill-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bud-green) transparent transparent transparent;
}
.skill-container:hover .skill-tooltip {
    visibility: visible;
    opacity: 1;
}

.featured-project-card__container {
    width: 100%;
    height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-project-card {
    background-color: var(--dark-grey_black);
    width: calc(100% - 80px);
    height: calc(100% - 40px);
    margin: 15px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-category-slide-in {
    display: inline-block;
    width: 0px;
    background-color: var(--dark-grey_black);
    height: calc(100% - 73px);
    z-index: 3;
    position: absolute;
    right: 0;
    border-left: 2px solid var(--bud-green);
    transition: width 0.5s;
}
.content-category-slide-in__span{
    background-color: var(--bud-green);
    left: -40px;
    top: 40px;
    padding: 20px 15px;
    position: absolute;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.content-category-slide-in__span:hover{
    cursor: pointer;
}

.project__cats__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.project__cats__overlay__organizer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    margin: 20px;
    width: calc(100% - 40px);
    min-height: 500px;
}
.project-card {
    float: left;
    margin: 20px;
    width: 320px;
    height: 400px;
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.project-card:hover .project-card-inner {
  transform: rotateY(-180deg);
}
.project-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.project-card-front, .project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.project-card-back {
    background-color: var(--dark-moss-green);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.project-card-front {
    background-color: var(--dark-moss-green);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.project-card-front__info {
    width: 100%; 
    padding-left: 20px; 
    line-height: 24px;
    text-align: left;
}
.project-card-back__info {
    padding: 0px 10px; 
    line-height: 24px;
    text-align: center;
}
.h1-no-style {
    font-weight: normal;
}

.project-slide-in {
    display: inline-block;
    width: 0px;
    background-color: var(--dark-grey_black);
    height: calc(100% - 73px);
    z-index: 3;
    position: absolute;
    right: 0;
    border-left: 2px solid var(--bud-green);
    transition: width 0.5s;
}
.project-slide-in__span{
    background-color: var(--bud-green);
    left: -40px;
    top: 105px;
    padding: 20px 15px;
    position: absolute;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.project-slide-in__span:hover{
    cursor: pointer;
}

.project__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.fa-credit-div {
    margin-top: 60px;
}
.fa-credit-div__link {
    color: rgb(0, 174, 255);
}
.proj-link {
    color: rgb(0, 174, 255);
}

.organization-container-layout {
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.organization-container-layout__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
}
.organization-container-layout__info > div {
    font-size: 18px;
}
.organization-container-layout__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.proj-page-main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 120px);
}
.p-p-main__side-cont {
    height: 100%;
    margin: 0px 40px;
    width: calc(50% - 80px);
    overflow: auto;
}
.p-p-main__side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.p-p-main__p-tag {
    font-size: 18px;
    line-height: 24px;
}
.p-p-main__p-tag > li {
    padding-top: 10px; 
    padding-bottom: 10px;
}
.p-p-main__p-tag > li:first-of-type {
    padding-top: 0px;
}
.release {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.p-p-main__side__v2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.switch-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
input:checked + .slider {
    background-color: var(--bud-green);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--bud-green);
}  
input:checked + .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
}

.component-overview {
    margin: 0px 40px;
    font-size: 18px;
    line-height: 24px;
}
.pw-components-container {
    margin: 40px 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pw-component-info {
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.pw-component-info__blurb {
    margin: 0px 40px;
    width: calc(100% - 80px);
    line-height: 24px;
}